.editInterfaceBtn{
  width: 15%;
  margin-top: 5px;
  background: #108ee9;
  color: #fff;

  &:hover{
    background: green;
    color: #fff;
  }
}

.interfaceInfoDiv{
  font-size: 14px;
  margin-top: 5px;
}